<!DOCTYPE html>
<html>

<title>Hours To Max</title>
<meta name="description"
    content="Find how many hours it will take you to max your Old School Runescape Account with training methods that you choose!">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<meta name="keywords" content="Hours, To, Max, Old, School, Runescape, Account, Long, Gp, Time">
<meta name="author" content="Mapex Games">

<script>
    $(document).ready(function () {
        console.log("loaded");
        console.log({{title}});
    });
</script>

<meta name="theme-color" content="#ffffff">

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hours_style.css">
    <link rel="stylesheet" href="/projects.css">
    <link href="./colours.css" rel="stylesheet" type="text/css">
</head>

<body id="thebody">

    <!-- **********HEADER******* -->
    <header class="theme themered">
        <img src="logo.png" alt="My logo" id="logoimage">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <!-- *********header******-->

    <br><br class="desktoponly">


    <!-- ************* MAIN CONTENT *************-->
    <div class="maxw whitebg" id="maincontent">

        <!-- *******INTRO*********-->
        <br>
        <br class="mobileonly">
        <!-- <h1 id="tabtext" class="center">Max Cape</h1> -->
        <br>
        <div class="center " id="intro" style="padding-left:10px;padding-right:10px">
        </div>
        <div class="center" id="disclaimer">
            <img src="logo.png" alt="My logo" id="logoimage">
            <br>
            <img src="alex.jpg" alt="A photo of me" id="aleximage" style="border-radius: 50%; width:200px;">
            <br>
            <br>
            <h2>Hello.</h2>
            <p style="text-align:left; padding: 50px; white-space: pre-line">
                <strong>My name is Alex.</strong>

                I made this website with 2 purposes in mind: creating a useful tool for Old School Runescape, and learning NodeJS.
                
                <strong>Are you hiring?</strong>

                I am looking to make programming my career, so I hope this website can showcase my work to you.
                This website was build with NodeJS and Express, and you can take a look at the code development process here:
                
                <a href="https://github.com/AlexanderReeves/hours-to-max-v2/">View this website on Github</a>

                This page started as a simple standalone Javascript/HTML resource, but I wanted to challenge myself and expand it.
                Nowdays it boasts it's own server, with custom built authentication, a Mongodb server, and it's all hosted in a linux droplet on DigitalOcean.

                Please reach out if you are looking to employ a software developer! I would love to work with you.

                You can also check out my portfolio of previous work here:
                
                <a href="/projects">My Projects</a>

                And you can get a PDF copy of my current resume here 

                <a href="/download-file">My Resume</a>

                You can contact me at reevesgamedev@gmail.com.

                <strong>Are you here because you play Old School Runescape?</strong>

                I hope you enjoy this tool!
                I had been using some other online tools to track progress on my account.
                They all lacked flexibility, or tracking features, so I decided I would just make my dream tool website myself.

                It's in an early stage of development, though I have many great ideas I want to bring to this platform.
                Please reach out if you have any ideas or would like to contriubute!

                Thanks for checking out my website!

                -Alex
            <br>


        </div>
    </div>

    {{!-- FOOTER --}}
    <footer>
        <div>
            <br><br>
            <p id="footer">2024 Arrgs (Mapex Games)</p>
            <p id="footer">reevesgamedev@gmail.com</p>
        </div>
    </footer>
    {{!-- End Footer --}}

</body>

</html>