<!DOCTYPE html>
<html>

<title>Hours To Max</title>
<meta name="description"
    content="Find how many hours it will take you to max your Old School Runescape Account with training methods that you choose!">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<meta name="keywords" content="Hours, To, Max, Old, School, Runescape, Account, Long, Gp, Time">
<meta name="author" content="Mapex Games">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<script>
    $(document).ready(function () {

        $("#newpasswordform").submit(function () { // intercepts the submit event
            console.log('Registration form has been submitted.');
            var QueryString = (new URL(location.href)).searchParams.get('token');
            //clear result message
            $("#result").html('&nbsp;');
            $.ajax({ // make an AJAX request
                type: "POST",
                url: "/auth/newpassword", // it's the URL of your component B
                data: $("#newpasswordform").serialize() + '&token=' + QueryString, // serializes the form's elements
                success: function (data) {
                    // show the data you got from B in result div
                    console.log('Success');
                    $("#result").html('Password reset success, attempting to redirect.');
                    $("#result").removeClass("fail");
                    $("#result").addClass("success");
                    $('#userEmail').attr('readonly', true);
                    $('#userPass').attr('readonly', true);
                    window.location = '/';
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Submit returned errors');
                    jsonErrorMessage = XMLHttpRequest.responseJSON.error;
                    $("#result").html(jsonErrorMessage);
                    $("#result").removeClass("success");
                    $("#result").addClass("fail");
                    return false;
                }

            });
             // avoid to execute the actual submit of the form
        });

    });
</script>

<meta name="theme-color" content="#ffffff">


<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hours_style.css">
    <link href="./colours.css" rel="stylesheet" type="text/css">
</head>



<body id="thebody">

    <!-- **********HEADER******* -->
    <header class="theme themered">
        {{!-- <div class="verticle-center"> --}}
            <img src="logo.png" alt="My logo" id="logoimage">
            <!-- <label class="switch" style="margin-top:20px;margin-right:10px;float:right">-->
            <!-- 	<input onchange="Lightswitch();" type="checkbox" id="lightinput">-->
            <!-- 	<div class="slider round whitefont" id="lightslider"></div>-->
            <!-- </label>-->
            {{!--
        </div> --}}
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <!-- *********header******-->

    <br><br class="desktoponly">


    <!-- ************* MAIN CONTENT *************-->
    <div class="maxw whitebg" id="maincontent">

        <!-- *******INTRO*********-->
        <br>
        <br class="mobileonly">
        <!-- <h1 id="tabtext" class="center">Max Cape</h1> -->
        <br>
        <div class="center " id="intro" style="padding-left:10px;padding-right:10px">
        </div>
        <div class="center" id="disclaimer">
            <img src="logo.png" alt="My logo" id="logoimage">
            <br>
            <h2>Set a new password</h2>
            <br>
            Find many hours until you max in Old School Runescape.
            <br>
            <br>
            Please enter a new password below.
        </div>
        <br>
        <br class="mobileonly">

        <div class="searcharea maxw">
            {{!-- <form action="/auth/login" method="POST" id="myform"> --}}
                <form id="newpasswordform" onsubmit="return false">

                    <input type="text" class="textbox" id="password" name="password" style="text-align:left;"
                        placeholder="Enter a new password">
                    <input type="text" class="textbox" id="confirmPassword" name="confirmPassword" style="text-align:left;"
                        placeholder="Re-type the new password">

                    <div id="result" style="margin-top:10px">&nbsp;</div>

                    <input type="submit" class="colorbutton theme themered" style="margin-top: 10px" value="Save">
                </form>

                <br>

        </div>
        <br><br>
    </div>

    {{!-- FOOTER --}}
    <footer>
        <div>
            <br><br>
            <p id="footer">2024 Arrgs (Mapex Games)</p>
            <p id="footer">reevesgamedev@gmail.com</p>
        </div>
    </footer>
    {{!-- End Footer --}}

</body>

</html>