<!DOCTYPE html>
<html>

    {{!-- NOTE:
    THE HEIGHT OF EACH DETAILS CARD MUST BE MANUALLY SET IN THE PROJECTS.CSS PAGE, AS THE ANIMATIONS WILL NOT WORK UNLESS THE SPECIFI HEIGHT
    IS GIVEN FOR EACH ITEM, IN BOTH MOBILE AND DESKTOP PX. SEE CSS FOR MORE DETAILS --}}

<title>Hours To Max</title>
<meta name="description"
    content="Find how many hours it will take you to max your Old School Runescape Account with training methods that you choose!">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/projects.js"></script>
<meta name="keywords" content="Hours, To, Max, Old, School, Runescape, Account, Long, Gp, Time">
<meta name="author" content="Mapex Games">

<script>
    $(document).ready(function () {
        console.log("loaded");
        console.log({{title}});
    });
</script>

<meta name="theme-color" content="#ffffff">

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hours_style.css">
    <link rel="stylesheet" href="/projects.css">
    <link href="./colours.css" rel="stylesheet" type="text/css">
</head>

<body id="thebody">

    <!-- **********HEADER******* -->
    <header class="theme themered">
        <img src="logo.png" alt="My logo" id="logoimage">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <!-- *********header******-->

    <br><br class="desktoponly">


    <!-- ************* MAIN CONTENT *************-->
    <div class="maxw whitebg" id="maincontent">

        <!-- *******INTRO*********-->
        <br>
        <br class="mobileonly">
        <!-- <h1 id="tabtext" class="center">Max Cape</h1> -->
        <br>
        <div class="center " id="intro" style="padding-left:10px;padding-right:10px">
        </div>
        <div class="center" id="disclaimer">
            <img src="logo.png" alt="My logo" id="logoimage">
            <br>
            <h2>Projects</h2>
            <br>
            <p>These are projects which I have worked on in software in the past.</p>
            <p>Some are still running today, such as the Miscorosft Powerapps business tools, and others have been discontinued.</p>
            <p>This section is still under development, though you can click on some of the items to get details about that project.</p>
            <p>You can also see information about me here at <a href="/author">hourstomax.com.author</a></p>
            <br>

            <div id="projects">
                <h2>Node JS and Express</h2>
                <br>

                <div class="card"  onclick="ExpandSection('hourstomax')">
                    <img src="images/projects/HoursToMax.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Hours To Max</b></h4>
                        <p>Creator and Full Stack Developer</p>
                    </div>
                </div>

                  <div id="hourstomax" class="expandedcard hidden">
                    Hours To Max the website you are currently browsing.
                    I created this website from scratch starting in 2024, and am contining to work and expand on it currently.

                    It was developed as a goal calculator for the game Old School Runescape.

                    The website was created with express, on a NodeJS server, and can be viewed in detail at github here:
                    <a href="https://github.com/AlexanderReeves/hours-to-max-v2/">View this website on Github</a>

                    The website was developed as a full-stack projects, from design to implementation, and uses the following technologies:
                    -NodeJS
                    -Express
                    -Linux via DigitalOcean
                    -Github
                    -MongoDB
                    -NPM

                    While writing this website, I have not used any AI tools, and I have kept the amount of npm packages to a minimum.
                    In this way I can have a deeper understanding of the language, the website, and how and why it works.
                    It also means that I don't have to continually update libraries and lowers the risk of including libraries with security flaws.

                    While I can appreciate the power and ability of generative AI tools, I believe code is best written by the developer and explored with other professionals,
                     rather than something like AI which has such high potential to generate mistakes, and can stunt learning in some cases.

                    Please feel free to play around with the tools on and features on this website and I would be glad to hear your feedback.

                </div>

                <br>
                <br>
                <br>

                <h2>University Of New England</h2>
                <br>

                <div class="card" onclick="ExpandSection('machinelearning')" id="machinelearning">
                    <img src="images/projects/MachineLearning2.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Machine Learning</b></h4>
                        <p>With Python and Matplotlib</p>
                    </div>
                </div>

                {{!-- Put in expanded cards when on desktop, else they load beneath the item --}}
                <div id="machinelearningmobile" class="expandedcard hidden mobileonly">
                During my studies at the University Of New England, I used a range of Machine Learning algorythms to make predictions on data sets.

                Technologies used:
                - Python
                - Jupyter Notebook/Google Collab
                - Matplotlib
                - Numpy

                In my final group project, we were able to use Machine Learning to make preditions on data of a person performing excercise by a gyroscope and pedometer.
                We were able to make predictions with the following level of accuracy:
                Best F1 score was: 0.8892518205429938, using max_depth of 8.
                Corresponding precision: 0.892
                Corresponding recall: 0.889

                Image: A 2d representation of the Machine learning decision boundaries on predicting an excercise performed based on 2 data points.
                <img src="images/projects/Machinelearning.jpg" alt="A 2d diagram of a machine learning algorythm which makes prediciton on excercise data">


                </div>



                <div class="card" onclick="ExpandSection('project2dgame')">
                <img src="images/projects/2dGame.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Processing 2d Game</b></h4>
                        <p>Lead develpoer and art</p>
                    </div>
                </div>

                <div id="project2dgamemobile" class="expandedcard hidden mobileonly">
                During my studies at the University Of New England, I developed a 2d city defence game
                within the IDE processing.

                As I had a large amount of prior programmming experience, I decided to set myself a challenge
                of incorporating some more complex maths for my missile trajectory.

                I used a Sine wave to add some curve to the trajactory and came up with this design:
                <img src="images/projects/GameRocketDiagram.jpg" alt="A 2d diagram of a game where a rockets trajectory is determined">

                </div>


                <div class="card" onclick="ExpandSection('pettest')">
                <img src="images/projects/PetWebsite.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Pet Adoption Agency Website</b></h4>
                        <p>Designer and Developer</p>
                    </div>
                </div>

                <div id="pettestmobile" class="expandedcard hidden mobileonly">
                A simple HTML, Javascript, CSS website I made while studying for an assignment.
                I set a goal of making my code as clean and simple as possible while meeting every requirement for the project.

                You can view the code here:
                <a href="https://github.com/AlexanderReeves/COSC260Javascript">Simple Pet Test Site on Github</a>
                <img src="images/projects/PetTest.jpg" style="width:100%" alt="A simple serverless website.">
                </div>

                <br>


                {{!-- Put in expanded cards when on desktop, else they load beneath the item --}}
                <div id="machinelearningdesktop" class="expandedcard hidden">
                During my studies at the University Of New England, I used a range of Machine Learning algorythms to make predictions on data sets.

                Technologies used:
                - Python
                - Jupyter Notebook/Google Collab
                - Matplotlib
                - Numpy

                In my final group project, we were able to use Machine Learning to make preditions on data of a person performing excercise by a gyroscope and pedometer.
                We were able to make predictions with the following level of accuracy:
                Best F1 score was: 0.8892518205429938, using max_depth of 8.
                Corresponding precision: 0.892
                Corresponding recall: 0.889

                Image: A 2d representation of the Machine learning decision boundaries on predicting an excercise performed based on 2 data points.
                <img src="images/projects/MachineLearning.jpg" alt="A 2d diagram of a machine learning algorythm which makes prediciton on excercise data">


                </div>

                <div id="project2dgamedesktop" class="expandedcard hidden">
                During my studies at the University Of New England, I developed a 2d city defence game
                within the IDE processing.

                As I had a large amount of prior programmming experience, I decided to set myself a challenge
                of incorporating some more complex maths for my missile trajectory.

                I used a Sine wave to add some curve to the trajactory and came up with this design:
                <img src="images/projects/GameRocketDiagram.jpg"  style="width:50%"alt="A 2d diagram of a game where a rockets trajectory is determined">
                
                </div>

                <div id="pettestdesktop" class="expandedcard hidden">
                A simple HTML, Javascript, CSS website I made while studying for an assignment.
                I set a goal of making my code as clean and simple as possible while meeting every requirement for the project.

                You can view the code here:
                <a href="https://github.com/AlexanderReeves/COSC260Javascript">Simple Pet Test Site on Github</a>
                <img src="images/projects/PetTest.jpg" style="width:100%" alt="A simple serverless website.">
                </div>


                <br>
                <br>



                <h2>Microsoft Powerapps and Powerautomate</h2>
                <br>

                <div class="card" onclick="ExpandSection('pahome')">
                <img src="images/projects/HomeSafety.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Home Safety Inspections App</b></h4>
                    <p>Lead designer and developer</p>
                </div>
                </div>


                <div id="pahomemobile" class="expandedcard hidden mobileonly">
                A Microsoft Powerapps system for performing safety checks of resedential houses.

                I created this app from scratch on request from management.

                They asked for a way to perform inspections, to ensure that our staff would only perform work in
                houses that we had verified as safe environments.

                The app connects to sharepoint lists as data storage.
                (Chosen as it was the cheapest option due to already being part of our 365 subscription).

                A main checklist can be configured by administrators, and when an inspection is performed, it
                creates a copy of the main checklist for users to perform the inspections with.

                It also has automatic and manual email reporting tools, as well as extra functions and features
                for sorting and responding to tasks assigned to any user.

                Additionally, the app was built entirely scalable, to work seamlessly on both desktop ant mobile devices,
                while still appearing visually pleasing.

                <img src="images/projects/PowerappsHome.png" alt="A dynamically generated checklist page.">


                </div>



                <div class="card" onclick="ExpandSection('pabookings')">
                    <img src="images/projects/Bookings.jpg" alt="Avatar" >
                    <div class="container">
                        <h4><b>Vehicle Bookings App</b></h4>
                        <p>Lead designer and lead developer</p>
                    </div>
                </div>

                <div id="pabookingsmobile" class="expandedcard hidden mobileonly">
                A Microsoft Powerapps system for short term resource allocating.

                I used Microsoft Powerapps to create an app which allows users to loan resources (Vehicles, Rooms, Equipment etc).
                The company had previously been using an excel sheet for vehicle loans, and a calendar per room to book.

                I moved these booking processes onto a powerapp system so that users could more easily access the booking systems,
                and more easily find the correct resource to book.

                The system was chose to be done on Powerapps due to the rest of our system already being integrated into Microsoft 365.
                This meant that our Powerapps licensing and usage was a 0 cost solution, apart from the development time.

                Users simply selected their requirements (Vehicle type, number of seats, wheelchair appropriate, tow bar etc), and the desired booking date.
                From there the app would show users which vehicles were available for use, and reserve the item.

                <img src="images/projects/PABookings.jpg" alt="A resource bookings page.">


                </div>


                <div class="card" onclick="ExpandSection('paflow')">
                    <img src="images/projects/PowerAutomate.png" alt="Avatar" >
                    <div class="container">
                        <h4><b>Home Safety Inspections Automations</b></h4>
                        <p>Lead designer and lead developer</p>
                    </div>
                </div>

                <div id="paflowmobile" class="expandedcard hidden mobileonly">
                I've created many automations in Microsoft Power Automate.
                Some are additional tools for my Power Apps, and some are entirely unique tools.

                I take special care to leave detailed notes in Power Automate, so that each code block is explained thoroughly.

                Here are some of examples of automations that I have created.

                 - Automatic email reminders, detailing all tasks that are assigned to a staff member each month
                 - Daily email summaries of all the changes made to a Microsoft list page, collated and sent to each team
                 - Reports for tables and tools from other systems
                 - Alerts when tasks or items are assigned to a party or individual

                <img src="images/projects/PAFlow.jpg" alt="My most recent auomations.">
                </div>


                <div id="pahomedesktop" class="expandedcard hidden">
                A Microsoft Powerapps system for performing safety checks of resedential houses.

                I created this app from scratch on request from management.

                They asked for a way to perform inspections, to ensure that our staff would only perform work in
                houses that we had verified as safe environments.

                The app connects to sharepoint lists as data storage.
                (Chosen as it was the cheapest option).

                A main checklist can be configured by administrators, and when an inspection is performed, it
                creates a copy of the main checklist for users to perform the inspections with.

                It also has automatic and manual email reporting tools, as well as extra functions and features
                for sorting and responding to tasks assigned to any user.

                Additionally, the app was built entirely scalable, to work seamlessly on both desktop ant mobile devices,
                while still appearing visually pleasing.
                
                <img src="images/projects/PowerAppsHome.png" style="width:100%" alt="A dynamically generated checklist page.">


                </div>

                <div id="pabookingsdesktop" class="expandedcard hidden">
                A Microsoft Powerapps system for short term resource allocating.

                I used Microsoft Powerapps to create an app which allows users to loan resources (Vehicles, Rooms, Equipment etc).
                The company had previously been using an excel sheet for vehicle loans, and a calendar per room to book.

                I moved these booking processes onto a powerapp system so that users could more easily access the booking systems,
                and more easily find the correct resource to book.

                The system was chose to be done on Powerapps due to the rest of our system already being integrated into Microsoft 365.
                This meant that our Powerapps licensing and usage was a 0 cost solution, apart from the development time.

                Users simply selected their requirements (Vehicle type, number of seats, wheelchair appropriate, tow bar etc), and the desired booking date.
                From there the app would show users which vehicles were available for use, and reserve the item.

                <img src="images/projects/PABookings.jpg" alt="A resource bookings page.">


                </div>

                <div id="paflowdesktop" class="expandedcard hidden">
                I've created many automations in Microsoft Power Automate.
                Some are additional tools for my Power Apps, and some are entirely unique tools.

                I take special care to leave detailed notes in Power Automate, so that each code block is explained thoroughly.

                Here are some of examples of automations that I have created.

                 - Automatic email reminders, detailing all tasks that are assigned to a staff member each month
                 - Daily email summaries of all the changes made to a Microsoft list page, collated and sent to each team
                 - Reports for tables and tools from other systems
                 - Alerts when tasks or items are assigned to a party or individual

                <img src="images/projects/PAFlow.jpg" alt="My most recent auomations.">


                </div>


                <br>
                <br>
                <br>




                <h2>Minecraft Marketplace</h2>
                <br>

                <div class="card" onclick="ExpandSection('zc')">
                <img src="images/projects/ZombieCart.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Zombie Cart</b></h4>
                    <p>Lead designer and developer</p>
                </div>
                </div>

                <div id="zcmobile" class="expandedcard hidden mobileonly">
                From 2019 to 2021, I spent time creating mini-games and experiences for Microsofts Minecraft Marketplace.
                I worked as a contractor for GOE:CRAFT, an Iranian based company, specialising in games of education.

                The mini games took the Minecraft game engine, and were re-worked to create new experiences and ways to experience the game.

                Zombie Cart involved turning Minecraft into a "rail shooter" style game, where players explored an egyptian themed world.

                The game used a variety of languages, technologies and tools including:
                 - MCFUNCTION Language which was very restricted and required many creative workarounds. (I found it to be reminscent of Assembly)
                 - JSON for scripting, data storage, and modelling
                 - Javascript for some server-side automations
                 - Custom world creation tools
                 - Blockbench for custom modelling and art

                 You can view the trailer for the video on Youtube:

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/Hbi2FeGa9Qw?si=8mj1prNwf5CHmG1-" 
                 title="YouTube video player" frameborder="0" 
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>



                <div class="card" onclick="ExpandSection('texty')">
                <img src="images/projects/Texty.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Texty In A 3D World</b></h4>
                    <p>Lead designer and lead developer</p>
                </div>
                </div>

                <div id="textymobile" class="expandedcard hidden mobileonly">
                From 2019 to 2021, I spent time creating mini-games and experiences for Microsofts Minecraft Marketplace.
                I worked as a contractor for GOE:CRAFT, an Iranian based company, specialising in games of education.

                The mini games took the Minecraft game engine, and were re-worked to create new experiences and ways to experience the game.

                Texty In A 3D World was a game I made where I pushed the limits of Minecrafts game engine, to create a side scroller style game.
                I took the first person style game, reworked the camera, and created the illusion that the character was based in a hybrid 2d/3d environment.

                The game used a variety of languages, technologies and tools including:
                 - MCFUNCTION Language which was very restricted and required many creative workarounds. (I found it to be reminscent of Assembly)
                 - JSON for scripting, data storage, and modelling
                 - Javascript for some server-side automations
                 - Custom world creation tools
                 - Blockbench for custom modelling and art

                 You can view the trailer for the video on Youtube:

                 <iframe width="560" height="315" 
                 src="https://www.youtube.com/embed/c2nahebUYWw?si=PxGC8Dc0IY6dgczP" 
                 title="YouTube video player" frameborder="0" 
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>



                <div id="zcdesktop" class="expandedcard hidden">
                From 2019 to 2021, I spent time creating mini-games and experiences for Microsofts Minecraft Marketplace.
                I worked as a contractor for GOE:CRAFT, an Iranian based company, specialising in games of education.

                The mini games took the Minecraft game engine, and were re-worked to create new experiences and ways to experience the game.

                Zombie Cart involved turning Minecraft into a "rail shooter" style game, where players explored an egyptian themed world.

                The game used a variety of languages, technologies and tools including:
                 - MCFUNCTION Language which was very restricted and required many creative workarounds. (I found it to be reminscent of Assembly)
                 - JSON for scripting, data storage, and modelling
                 - Javascript for some server-side automations
                 - Custom world creation tools
                 - Blockbench for custom modelling and art

                 You can view the trailer for the video on Youtube:

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/Hbi2FeGa9Qw?si=8mj1prNwf5CHmG1-" 
                 title="YouTube video player" frameborder="0" 
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>

                <div id="textydesktop" class="expandedcard hidden">
                From 2019 to 2021, I spent time creating mini-games and experiences for Microsofts Minecraft Marketplace.
                I worked as a contractor for GOE:CRAFT, an Iranian based company, specialising in games of education.

                The mini games took the Minecraft game engine, and were re-worked to create new experiences and ways to experience the game.

                Texty In A 3D World was a game I made where I pushed the limits of Minecrafts game engine, to create a side scroller style game.
                I took the first person style game, reworked the camera, and created the illusion that the character was based in a hybrid 2d/3d environment.

                The game used a variety of languages, technologies and tools including:
                 - MCFUNCTION Language which was very restricted and required many creative workarounds. (I found it to be reminscent of Assembly)
                 - JSON for scripting, data storage, and modelling
                 - Javascript for some server-side automations
                 - Custom world creation tools
                 - Blockbench for custom modelling and art

                 You can view the trailer for the video on Youtube:

                 <iframe width="560" height="315" 
                 src="https://www.youtube.com/embed/c2nahebUYWw?si=PxGC8Dc0IY6dgczP" 
                 title="YouTube video player" frameborder="0" 
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>

            </div>
        </div>
        <br>
        <br><br>
    </div>

    {{!-- FOOTER --}}
    <footer>
        <div>
            <br><br>
            <p id="footer">2024 Arrgs (Mapex Games)</p>
            <p id="footer">reevesgamedev@gmail.com</p>
        </div>
    </footer>
    {{!-- End Footer --}}

</body>

</html>