<!DOCTYPE html>
<html>

<title>Hours To Max</title>
<meta name="description"
    content="Find how many hours it will take you to max your Old School Runescape Account with training methods that you choose!">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<meta name="keywords" content="Hours, To, Max, Old, School, Runescape, Account, Long, Gp, Time">
<meta name="author" content="Mapex Games">

<script>
    $(document).ready(function () {
        console.log("loaded");
        console.log({{title}});
    });
</script>

<meta name="theme-color" content="#ffffff">

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hours_style.css">
    <link rel="stylesheet" href="/projects.css">
    <link href="./colours.css" rel="stylesheet" type="text/css">
</head>

<body id="thebody">

    <!-- **********HEADER******* -->
    <header class="theme themered">
        <img src="logo.png" alt="My logo" id="logoimage">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <!-- *********header******-->

    <br><br class="desktoponly">


    <!-- ************* MAIN CONTENT *************-->
    <div class="maxw whitebg" id="maincontent">

        <!-- *******INTRO*********-->
        <br>
        <br class="mobileonly">
        <!-- <h1 id="tabtext" class="center">Max Cape</h1> -->
        <br>
        <div class="center " id="intro" style="padding-left:10px;padding-right:10px">
        </div>
        <div class="center" id="disclaimer">
            <img src="logo.png" alt="My logo" id="logoimage">
            <br>
            <h2>Projects</h2>
            <br>
            <p>These are projects which I have worked on in software in the past.</p>
            <p>Some are still running today, such as the Miscorosft Powerapps business tools, and others have been discontinued.</p>
            <p>You can click on any project to learn more about my contributions.</p>
            <br>

            <div id="projects">
                <h2>Node JS and Express</h2>
                <br>

                <div class="card">
                <img src="projectHoursToMax.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Hours To Max</b></h4>
                    <p>Creator and Full Stack Developer</p>
                </div>
                </div>
                <br>
                <br>
                <br>

                <h2>University Of New England</h2>
                <br>

                <div class="card">
                <img src="projectMachineLearning.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Machine Learning</b></h4>
                    <p>With Python and Matplotlib</p>
                </div>
                </div>

                <div class="card">
                <img src="project2dGame.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Processing 2d Game</b></h4>
                    <p>Lead develpoer and art</p>
                </div>
                </div>

                <div class="card">
                <img src="projectPetWebsite.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Pet Adoption Agency Website</b></h4>
                    <p>Designer and Developer</p>
                </div>
                </div>

                <br>
                <br>
                <br>



                <h2>Microsoft Powerapps and Powerautomate</h2>
                <br>

                <div class="card">
                <img src="projectHomeSafety.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Home Safety Inspections App</b></h4>
                    <p>Lead designer and developer</p>
                </div>
                </div>

                <div class="card">
                <img src="projectBookings.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Vehicle Bookings App</b></h4>
                    <p>Lead designer and lead developer</p>
                </div>
                </div>

                <div class="card">
                <img src="projectPowerAutomate.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Home Safety Inspections Automations</b></h4>
                    <p>Lead designer and lead developer</p>
                </div>
                </div>

                <br>
                <br>
                <br>




                <h2>Minecraft Marketplace</h2>
                <br>

                <div class="card">
                <img src="projectZombieCart.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Zombie Cart</b></h4>
                    <p>Lead designer and developer</p>
                </div>
                </div>

                <div class="card">
                <img src="projectTexty.jpg" alt="Avatar">
                <div class="container">
                    <h4><b>Texty In A 3D World</b></h4>
                    <p>Lead designer and lead developer</p>
                </div>
                </div>

            </div>
        </div>
        <br>
        <br><br>
    </div>

    {{!-- FOOTER --}}
    <footer>
        <div>
            <br><br>
            <p id="footer">2024 Arrgs (Mapex Games)</p>
            <p id="footer">reevesgamedev@gmail.com</p>
        </div>
    </footer>
    {{!-- End Footer --}}

</body>

</html>