.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
    display:inline-block;
    margin-left: 11px;
    margin-right: 11px;
  }

  .expandedcard {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    display:inline-block;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left:15px;
    padding-right:15px;
    white-space: pre-line;
    overflow: hidden; */
  
  }


  /* Expandable cards with custom heights determined manually by contents held */
  /* The height must be entered manually to allow the animation to work when transitioning
  between 0 and X pixels. */
#hourstomax{
    height:400px;
  }

#hourstomax.hidden{
  height: 0px;
}

#machinelearning{
  height:400px;
}

#machinelearning.hidden{
height: 0px;
}




  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }



  @media (max-width: 980px) {
    .card{
        min-width: 112%;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    .expandedcard{
      min-width: 112%;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 50px;
    }
    #hourstomax{
      height:1300px;
    }
  
    #hourstomax.hidden{
    height: 0px;
    width:0px;
    }

    #machinelearning{
      height:1300px;
    }
  
    #machinelearning.hidden{
    height: 0px;
    }

    #projects, img{
        width:80%;
      }
    #logoimage{
        width: 50%;
    }
  }